input{
  border: 1px solid rgb(58, 58, 136);
  height: 40px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
}
.flex{
  display: flex;
}
.inputs{
  gap: 5px;
  margin-inline: 20px;
}
.btn-add{
  background-color: rgb(18, 155, 18);
  border-style: none;
  padding-inline: 20px;
  border-radius: 5px;
  font-size: large;
}
.btn-edit{
  background-color: rgb(85, 85, 249);
  border-style: none;
  color: white;
  padding: 10px;
  padding-inline: 20px;
}
.btn-delete{
  background-color: red;
  border-style: none;
  color: white;
  padding: 10px;
  padding-inline: 20px;
}
th{
  width: 220px;
}
td{
  width: 200px;
  text-align: center;
  align-content: center;
}
.headings{
  margin-block: 30px;
}
.row{
  gap: 10px;
}
.edit-box{
  width: 180px;
}
.btn-save{
  background-color: rgb(39, 39, 193);
  color: white;
  border-style: none;
  padding-inline: 20px;
  padding-block: 10px;
}
.box{
  padding: 10px;
}